{% extends "base.html" %}
{% block content %}
        <!-- Page Header Start -->
        <div class="page-header mb-0">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>About Us</h2>
                    </div>
                    <div class="col-12">
                        <a href="">Home</a>
                        <a href="">About Us</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Header End -->
        
<!-- About Start -->
<div class="about">
    <div class="container">
        <div class="col-lg-12">
            <div class="about-content">
                <div class="section-header">
                    <p>About Us</p>
                </div>
                <div class="about-text">
                    <p>
                        RightWrite is a culmination of deep experience across journalism, entrepreneurship, and leading multi-country teams for new logo hunting across the professional services space. Harshad Oke and team lead RightWrite. Harshad has over three decades of work experience spanning journalism, founding a venture capital-backed editorial and research firm and leading sales teams across the US, EU, and India. Our team includes academicians, designers, and subject matter experts that help deliver winning content. RightWrite is a culmination of our deep experience in creating winning, bespoke content solutions for diverse needs and client base.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="team">
    <div class="container">
        <div class="section-header text-center">
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img src="/static/img/OUR_TEAM.png" alt="Image">
                    </div>
                    <div class="team-text">
                        <h2>OUR TEAM</h2>
                        <p class="text-center">Our team consists of professionals with deep experience in journalism, VC-backed startups, and academicians</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img src="/static/img/OUR_MISSION.png" alt="Image">
                    </div>
                    <div class="team-text">
                        <h2>OUR MISSION</h2>
                        <p class="text-center">At RightWrite, we develop winning, custom content for students, sales professionals, scholars, and authors</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img src="/static/img/OUR_PROCESS.png" alt="Image">
                    </div>
                    <div class="team-text">
                        <h2>OUR PROCESS</h2>
                        <p class="text-center">We work closely with our clients to understand their needs and provide customized solutions</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
         {% endblock %}