<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>RightWrite</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Free Website Template" name="keywords">
        <meta content="Free Website Template" name="description">

        <!-- Favicon -->
        <link href="/static/img/favicon.ico" rel="icon">

        <!-- Google Font -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;600;700&display=swap">
        
        
        
        
        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="/static/lib/animate/animate.min.css" rel="stylesheet">
        <link href="/static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
        <link href="/static/lib/flaticon/font/flaticon.css" rel="stylesheet">
        <link href="/static/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
        <!-- Template Stylesheet -->
        <link href="/static/css/style.css" rel="stylesheet">
        <link href="/static/css/solutions.css" rel="stylesheet">
        
        
        {% block head %}{% endblock %}
      
    </head>

    <body>
<!-- Nav Bar Start -->
<div class="navbar navbar-expand-lg bg-light navbar-light">
    <div class="container-fluid">
        <!-- Company Logo -->
        <a href="#" class="navbar-brand">
            <img src="{% static 'img/logo.WEBP' %}" alt=" ">
        </a>
        <!-- End Company Logo -->
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav mx-auto">
                <a href="#home" class="nav-item nav-link active" text="bold">Home</a>
                <a href="#about" class="nav-item nav-link">About Us</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Our Solutions</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#rightadvise">RightAdvise</a>
                        <a class="dropdown-item" href="#rightedge">RightEdge</a>
                        <a class="dropdown-item" href="#rightedit">RightEdit</a>
                        <div class="dropdown-divider"></div>
                        <!-- <a class="dropdown-item" href="#">Separated Link</a> -->
                    </div>
                </div>
                <a href="#process" class="nav-item nav-link">Our Process</a>
                <a href="#contact" class="nav-item nav-link">Contact Us</a>
            </div>
        </div>
    </div>
</div>
<!-- Nav Bar End -->

        {% block content %}

        {% endblock %}
        <!-- Footer Start -->
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="footer-contact">
                                    <h2>Our Address</h2>
                                    <p><i class="fa fa-map-marker-alt"></i>Nathkrupa, Bhagwan Swaminarayan Flyover, Ashok Nagar, Chunabhatti, Sion, Mumbai, Maharashtra, India</p>
                                    <p><i class="fa fa-phone-alt"></i>+91 9167049111</p>
                                    <p><i class="fa fa-envelope"></i>harshad@rightwrite.in</p>
                                    <!-- <p><i class="fab fa-linkedin-in"></i>www.linkedin.com/in/harshadoke</p>    -->

                                </div>
                                <div class="footer-social">
                                    <a href=""><i class="fab fa-twitter"></i></a>
                                    <a href=""><i class="fab fa-facebook-f"></i></a>
                                    <a href=""><i class="fab fa-youtube"></i></a>
                                    <a href=""><i class="fab fa-instagram"></i></a>
                                    <a href="https://www.linkedin.com/in/harshadoke?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BbdOfNFZZQemU2U89wad%2B%2Bw%3D%3D"><i class="fab fa-linkedin-in"></i></a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="footer-link">
                                    <!-- <h2>Quick Links</h2>
                                    <a href="">Terms of use</a>
                                    <a href="">Privacy policy</a>
                                    <a href="">Cookies</a>
                                    <a href="">Help</a>
                                    <a href="">FQAs</a> -->
                                </div>
                            </div>
                        </div>
                    </div>        
                </div>
            </div>
            <div class="copyright">
                <div class="container">
                    <p>Copyright &copy; <a href="#">Rightwrite</a>, All Right Reserved.</p>
                </div>
            </div>
        </div>
        <!-- Footer End -->

        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="/static/lib/easing/easing.min.js"></script>
        <script src="/static/lib/owlcarousel/owl.carousel.min.js"></script>
        <script src="/static/lib/tempusdominus/js/moment.min.js"></script>
        <script src="/static/lib/tempusdominus/js/moment-timezone.min.js"></script>
        <script src="/static/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
        
        <!-- Contact Javascript File -->
        <script src="/static/mail/jqBootstrapValidation.min.js"></script>
        <script src="/static/mail/contact.js"></script>

        <!-- Template Javascript -->
        <script src="/static/js/main.js"></script>

        
        {% block script %}{% endblock %}
    </body>
</html>
