        {% extends "base.html" %}
        {% block content %}
        <!-- Carousel Start -->
        <section id="home">
        <div class="carousel">
            <div class="container-fluid">
                <div class="owl-carousel">
                    <div class="carousel-item">
                        <div class="carousel-img">
                            <img src="/static/img/RIGHTADVISE.png" alt="Image">
                        </div>
                        <div class="carousel-text">
                            <h1>RIGHTADVISE</h1>
                            <p> We use our MEAL framework that delivers Statement of Purpose, Letter of Recommendation and similar submissions to colleges and universities Interview preparation
                            </p>    
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="carousel-img">
                            <img src="/static/img/RIGHTEDGE.png" alt="Image">
                        </div>
                        <div class="carousel-text">
                            <h1>RIGHTEDGE</h1>
                            <p>Outreach: Create custom content such as cold-call emails, work samples, LinkedIn and other SM posts that help in improving cold-calling ROI
Strategy: White papers, blogs, podcasts and similar thought leadership content</p>    
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="carousel-img">
                            <img src="/static/img/RIGHTEDIT.png" alt="Image">
                        </div>
                        <div class="carousel-text">
                            <h1>RIGHTEDIT</h1>
                            <p>
                            Editing and rewriting support for non-fiction books
Theses editing including fact check, plagiarism check, reference check </p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
        <!-- Carousel End -->

<!-- About Start -->
<section id ="about">
<div class="about">
    <div class="container">
        <div class="col-lg-12">
            <div class="about-content">
                <div class="section-header">
                    <p>About Us</p>
                </div>
                <div class="about-text">
                    <p>
                        RightWrite is a culmination of deep experience across journalism, entrepreneurship, and leading multi-country teams for new logo hunting across the professional services space. Harshad Oke and team lead RightWrite. Harshad has over three decades of work experience spanning journalism, founding a venture capital-backed editorial and research firm and leading sales teams across the US, EU, and India. Our team includes academicians, designers, and subject matter experts that help deliver winning content. RightWrite is a culmination of our deep experience in creating winning, bespoke content solutions for diverse needs and client base.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="team">
    <div class="container">
        <div class="section-header text-center">
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img src="/static/img/OUR_TEAM.png" alt="Image">
                    </div>
                    <div class="team-text">
                        <h2>OUR TEAM</h2>
                        <p class="text-center">Our team consists of professionals with deep experience in journalism, VC-backed startups, and academicians</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img src="/static/img/OUR_MISSION.png" alt="Image">
                    </div>
                    <div class="team-text">
                        <h2>OUR MISSION</h2>
                        <p class="text-center">At RightWrite, we develop winning, custom content for students, sales professionals, scholars, and authors</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img src="/static/img/OUR_PROCESS.png" alt="Image">
                    </div>
                    <div class="team-text">
                        <h2>OUR PROCESS</h2>
                        <p class="text-center">We work closely with our clients to understand their needs and provide customized solutions</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<!-- About End -->


<!-- Solutions Start -->
<div class="solutions">
    <div class="container">
        <div class="col-lg-12">
            <div class="solutions">
                <div class="section-header">
                    <p>Our Solutions</p>
                </div>
                <div class="solutions">
                    <h3>
                        RightWrite delivers content that helps our clients achieve their personal, professional,
                        and business goals. We leverage our deep experience across publishing, journalism,
                        academics, and sales hunting to provide services that help our clients stand out from
                        competition.</h3>
                    <h6> The key services:</h6>
                </div>
            </div>
        </div>
    </div>
</div>

<section id="rightadvise">
    <div class="solutions">
<div class="container">
    <h1>RightAdvise</h1>
    <div class="row">
        <div class="col-md-12">
            <img src="/static/img/OUR_TEAM.png" alt="RightAdvise Image" class="pic">
        
        <!-- <div class="col-md-12"> -->
            <div class="content">
                
                <h2>Every year, Indian students seeking admissions in Universities abroad face a critical, crucial stumbling block. 
                    Be it for an undergraduate degree, a master’s programme or for higher, specialized studies, most universities rate and judge applications based on the submissions made.
                    Apart from scholastic records, college admissions rely heavily on “getting to know” a candidature. They strive to get a better understanding of each applicant and look to determine what makes each applicant unique. Equally, they look for clarity in thought and expression, consistency, and above all, how can you contribute beyond academic rigour.
                    RightWrite has developed a MEAL framework that aids students in standing apart from the clutter:</h2>
                <ul>
                    <li><strong>Measure:</strong>   We have a conversation with each applicant to better understand their interests, aspirations, and their primary objective</li>
                    <li><strong>Engage:</strong>    Each applicant is requested to jot down their thoughts and accomplishments – beyond academics and GPAs – and, also why they are selecting a specific University/programme</li>
                    <li><strong>Assist:</strong>    Work one-on-one with each applicant to write, rewrite, and edit till we develop a polished submission</li>
                    <li><strong>Leverage:</strong>  The content can be shaped into individual submissions as per the requirement – be it an SoP, LoR, your CV, or a formal essay</li>
                </ul>
            </div>
            </div>
        </div>
    </div>
</div>
</div>
</section>
<section id="rightedge">
    <div class="solutions">
<div class="container">
    <h1>RightEdge</h1>
    <div class="row">
        <div class="col-md-12">
            <img src="/static/img/OUR_MISSION.png" alt="RightEdge Image" class="pic">
        
        <!-- <div class="col-md-12"> -->
            <div class="content">
                
                <h2>Every sales professional’s biggest, continuing challenge is how to identify, reach out and close a sales deal with a new client. With fluctuating economic cycles, rapid pace of technological change and a greater connected world means that every sales professional is chasing a seemingly elusive chimera to land that big logo.
At RightWrite, we leverage our two decades long global sales hunting experience to address this and related challenges. </h2>
<h2>Provide the following services:</h2> 
                    </p>
                <ul>
                    <li><strong>Discuss:</strong>    Prepare and validate tailored prospects lists for each sales campaign</li>
                    <li><strong>Engage: </strong>    create winning content – cold-call emails, work samples, LinkedIn and other SM posts that aid in improving cold-calling ROI</li>
                    <li><strong>Author:</strong>     Pitch deck, white papers, blogs, and similar thought leadership content</li>
                    <li><strong>Lead:</strong>       Write and edit RFx submissions, final pitch deck, case studies and use cases</li>
                </ul>
            </div>
            </div>
        </div>
    </div>
</div>
</div>
</section>
<section id="rightedit">
    <div class="solutions">
<div class="container">
    <h1>RightEdit</h1>
    <div class="row">
        <div class="col-md-12">
            <img src="/static/img/OUR_PROCESS.png" alt="RightEdit Image" class="pic">
        
        <!-- <div class="col-md-12"> -->
            <div class="content">
               
                <h2>We have deep experience in writing and editing books (non-fiction) and crafting theses submissions and related content. Editing and rewriting support for non-fiction books, scholarly submissions, strategy, and similar long-form content </h2>
                <h2>Our services include:</h2> 
                <ul>
                    <li><strong</strong>    Copy editing, sub-editing, language editing and rewriting</li>
                    <li><strong></strong>    Editing and rewriting support for non-fiction books</li>
                    <li><strong></strong>     Editing and rewriting support for non-fiction books</li>
                </ul>
            </div>
            </div>
        </div>
    </div>
</div>
</div>
</section>

<!-- <section id="solution">
    <div class="solutions">
        <div class="container">
            <div class="col-lg-12">
                <div class="solutions">
                    <div class="section-header">
                        <p>Our Solutions</p>
                    </div>
                    <div class="solutions">
                        <p class="text-justify">
                            RightWrite delivers content that helps our clients achieve their personal, professional,
                            and business goals. We leverage our deep experience across publishing, journalism,
                            academics, and sales hunting to provide services that help our clients stand out from
                            competition.</p>
                        <h6> The key services:</h6>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="OurSolution">
                    <div class="OurSolution-item">
                        <div class="OurSolution-img">
                            <img src="/static/img/OUR_TEAM.png" alt="Image">
                        </div>
                        <div class="OurSolution-text">
                            <h2>RightAdvise</h2>
                            <p class="text-justify">At RightWrite, we develop winning, custom content for students,
                                sales professionals, scholars and authors</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="OurSolution">
                    <div class="OurSolution-item">
                        <div class="OurSolution-img">
                            <img src="/static/img/OUR_MISSION.png" alt="Image">
                        </div>
                        <div class="OurSolution-text">
                            <h2>RightEdge</h2>
                            <p class="text-justify"> Outreach: Create custom content such as cold-call emails, work
                                samples, LinkedIn and other SM posts that help in improving cold-calling ROI
                                Strategy: White papers, blogs, podcasts and similar thought leadership content
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="OurSolution">
                    <div class="OurSolution-item">
                        <div class="OurSolution-img">
                            <img src="/static/img/OUR_PROCESS.png" alt="Image">
                        </div>
                        <div class="OurSolution-text">
                            <h2>RightEdit</h2>
                            <p class="text-justify">Editing and rewriting support for non-fiction books
                                Theses editing including fact check, plagiarism check, reference check</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->


 <!-- Process Start -->
 <section id="process">
 <div class="process">
    <div class="container">
            <div class="col-lg-12">
                <div class="process">
                    <div class="section-header">
                        <p>Our Process</p>
                    </div>
                    <div class="row position-relative">
                        <div class="col-lg-12">
                            <div class="Process">
                                <h5>We follow a collaborative and consultative process to help our clients stand out from the clutter.</h5>
                                <h4>RightAdvise</h4>
                                <h5>Every year, Indian students seeking admissions in Universities abroad face a critical, crucial stumbling block. 
                                Be it for an undergraduate degree, a master’s programme or for higher, specialized studies, most universities rate and judge applications based on the submissions made.
                                 Apart from scholastic records, college admissions rely heavily on “getting to know” a candidature. They strive to get a better understanding of each applicant and look to determine what makes each applicant unique. Equally, they look for clarity in thought and expression, consistency, and above all, how can you contribute beyond academic rigour.
                                RightWrite has developed a MEAL framework that aids students in standing apart from the clutter:</h5>
                                <ul class="custom-list">
                                    <li>Measure: We have a conversation with each applicant to better understand their interests, aspirations, and their primary objective</li>
                                    <li>Engage: Each applicant is requested to jot down their thoughts and accomplishments – beyond academics and GPAs – and, also why they are selecting a specific University/programme</li>
                                    <li>Assist: Work one-on-one with each applicant to write, rewrite, and edit till we develop a polished submission</li>
                                    <li>Leverage: The content can be shaped into individual submissions as per the requirement – be it an SoP, LoR, your CV, or a formal essay</li>
                                </ul>
                            
                                <h4>RightEdge</h4>
                                <h5>Every sales professional’s biggest, continuing challenge is how to identify, reach out and close a sales deal with a new client.
                                     With fluctuating economic cycles, rapid pace of technological change and a greater connected world means that every sales professional is chasing a seemingly elusive chimera to land that big logo.
                                     At RightWrite, we leverage our two decades long global sales hunting experience to address this and related challenges. We provide the following services:
                                </h5>
                                <ul class="custom-list">
                                    <li>Discuss: Prepare and validate tailored prospects lists for each sales campaign</li>
                                    <li>Engage: create winning content – cold-call emails, work samples, LinkedIn and other SM posts that aid in improving cold-calling ROI</li>
                                    <li>Author: Pitch deck, white papers, blogs, and similar thought leadership content</li>
                                    <li>Lead: Write and edit RFx submissions, final pitch deck, case studies and use cases</li>
                                </ul>
                            
                                <h4>RightEdit</h4>
                                <h5>We have deep experience in writing and editing books (non-fiction) and crafting theses submissions and related content. Editing and rewriting support for non-fiction books, scholarly submissions, strategy, and similar long-form content</h5>
                                <h5> Our services include: <h5>
                                <ul class="custom-list">
                                    <li>Copy editing, sub-editing, language editing and rewriting</li>
                                    <li>Editing and rewriting support for non-fiction books</li>   
                                    <li>Theses editing including fact check, plagiarism check, reference check </li>
                                </ul>
                            </div>
                            
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<!-- Process End -->


<!-- Contact Start -->
<section id="contact">
<div class="contact">
    <div class="container">
        <div class="section-header text-center">
            <p>Contact Us</p>
            <h4>Contact For Any Query</h4>
        </div>
        <div class="row align-items-center contact-information">
            <div class="col-md-6 col-lg-3">
                <div class="contact-info">
                    <div class="contact-icon">
                        <i class="fa fa-map-marker-alt"></i>
                    </div>
                    <div class="contact-text">
                        <h3>Address</h3>
                        <p>Nathkrupa, Bhagwan Swaminarayan Flyover, Ashok Nagar, Chunabhatti, Sion, Mumbai, Maharashtra, India</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="contact-info">
                    <div class="contact-icon">
                        <i class="fa fa-phone-alt"></i>
                    </div>
                    <div class="contact-text">
                        <h3>Call Us</h3>
                        <p>+91 9167049111</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="contact-info">
                    <div class="contact-icon">
                        <i class="fa fa-envelope"></i>
                    </div>
                    <div class="contact-text">
                        <h3>Email Us</h3>
                        <p>harshad@rightwrite.in</p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row contact-form">
            <div class="col-md-6">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3770.7835661053086!2d72.79424401488519!3d19.05271998703675!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c8b9bb0e4fbf%3A0x364157b0975025e5!2sNathkrupa%2C%20Bhagwan%20Swaminarayan%20Flyover%2C%20Ashok%20Nagar%2C%20Chunabhatti%2C%20Sion%2C%20Mumbai%2C%20Maharashtra%20400024!5e0!3m2!1sen!2sin!4v1647785366947!5m2!1sen!2sin" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
            <div class="col-md-6">
                <h4 text="text-center" style="font-size: 20px;">Contact Us</h4>
                <div id="success"></div>
                <form name="sentMessage" method="post" action="{% url 'contactdata' %}">
                    {% csrf_token %}
                    <div class="control-group">
                        <input type="text" class="form-control" id="name" name="name" placeholder="Your Name" required="required" data-validation-required-message="Please enter your name" />
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="control-group">
                        <input type="email" class="form-control" id="email" name="email" placeholder="Your Email" required="required" data-validation-required-message="Please enter your email" />
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="control-group">
                        <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject" required="required" data-validation-required-message="Please enter a subject" />
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="control-group">
                        <textarea class="form-control" id="message" name="message" placeholder="Message" required="required" data-validation-required-message="Please enter your message"></textarea>
                        <p class="help-block text-danger"></p>
                    </div>
                    <div>
                        <button class="btn custom-btn" type="submit">Send Message</button>
                    </div>
                </form>
            </div>               
        </div>
    </div>
</div>
</section>
<!-- Contact End -->


        <!-- testimonial start -->
        <div class="testimonial">
            <div class="container">
                <div class="section-header text-center">
                    <!-- <h4>Testimonials</h4> -->
                    <h5>Hear from our clients.</h5>
                    <h8>Your Words, Our Inspiration!</h8>
                </div>
                <div class="testimonial">
                    <div class="container">
                        <div class="owl-carousel testimonials-carousel">
                          
                            <div class="testimonial-owl">
                               

                                <div class="testimonial-item">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#b8860b"><path d="M14.017 21v-7.391c0-5.704 3.731-9.57 8.983-10.609l.995 2.151c-2.432.917-3.995 3.638-3.995 5.849h4v10h-9.983zm-14.017 0v-7.391c0-5.704 3.748-9.57 9-10.609l.996 2.151c-2.433.917-3.996 3.638-3.996 5.849h3.983v10h-9.983z"/></svg>
                                    <p>
                                        <!-- <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#b8860b"><path d="M14.017 21v-7.391c0-5.704 3.731-9.57 8.983-10.609l.995 2.151c-2.432.917-3.995 3.638-3.995 5.849h4v10h-9.983zm-14.017 0v-7.391c0-5.704 3.748-9.57 9-10.609l.996 2.151c-2.433.917-3.996 3.638-3.996 5.849h3.983v10h-9.983z"/></svg> -->
                                        <!-- <span class="quote-icon-left">“</span> -->
                                        As a student aspiring to study abroad, I was struggling with crafting SOPs. Harshad
                                        Oke stepped in, and with his no-nonsense approach helped me transform my SOP into
                                        something that would help me stand apart from the crowd. You need to sell yourself
                                        in the best way possible – and that is exactly what he did for me. His background in
                                        sales and journalism is what makes him the perfect person to go to for any college
                                        (or otherwise) application. With his help and input, I was able to secure a
                                        scholarship for myself. With him, you are in good hands!
                                        <svg xmlns="http://www.w3.org/2000/svg" class="svg-right-quote" width="24" height="24" viewBox="0 0 24 24" fill="#b8860b"><path d="M9.983 3v7.391c0 5.704-3.731 9.57-8.983 10.609l-.995-2.151c2.432-.917 3.995-3.638 3.995-5.849h-4v-10h9.983zm14.017 0v7.391c0 5.704-3.748 9.571-9 10.609l-.996-2.151c2.433-.917 3.996-3.638 3.996-5.849h-3.983v-10h9.983z"/></svg>
                                    </p>
                                    
                                </div>
                                <div class="footer-owl">
                                    <span>Anagha</span>
                                </div>
                            </div>
                            <div class="testimonial-owl">
                                <div class="testimonial-item">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#b8860b"><path d="M14.017 21v-7.391c0-5.704 3.731-9.57 8.983-10.609l.995 2.151c-2.432.917-3.995 3.638-3.995 5.849h4v10h-9.983zm-14.017 0v-7.391c0-5.704 3.748-9.57 9-10.609l.996 2.151c-2.433.917-3.996 3.638-3.996 5.849h3.983v10h-9.983z"/></svg>
                                    <p>
                                        <!-- <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#b8860b"><path d="M14.017 21v-7.391c0-5.704 3.731-9.57 8.983-10.609l.995 2.151c-2.432.917-3.995 3.638-3.995 5.849h4v10h-9.983zm-14.017 0v-7.391c0-5.704 3.748-9.57 9-10.609l.996 2.151c-2.433.917-3.996 3.638-3.996 5.849h3.983v10h-9.983z"/></svg> -->
                                        I have consulted Harshad multiple times, be it to edit essays, formatting CV's, or
                                        for general writing advice. RightWrite is incredible. I found them especially useful
                                        during my first year in university, when they helped me pen down an essay on the
                                        human psyche, and what it means to be yourself. RightWrite's grasp of the English
                                        language and their attention to detail was immensely useful in ensuring my write-up
                                        was crisp and grammatically accurate.
                                        <svg xmlns="http://www.w3.org/2000/svg" class="svg-right-quote" width="24" height="24" viewBox="0 0 24 24" fill="#b8860b"><path d="M9.983 3v7.391c0 5.704-3.731 9.57-8.983 10.609l-.995-2.151c2.432-.917 3.995-3.638 3.995-5.849h-4v-10h9.983zm14.017 0v7.391c0 5.704-3.748 9.571-9 10.609l-.996-2.151c2.433-.917 3.996-3.638 3.996-5.849h-3.983v-10h9.983z"/></svg>
    
                                    </p>
                                    
                                </div>
                                <div class="footer-owl">
                                    <span>Advait</span>
                                </div>
                            </div>
                          

                            <div class="testimonial-owl">
                                <div class="testimonial-item">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#b8860b"><path d="M14.017 21v-7.391c0-5.704 3.731-9.57 8.983-10.609l.995 2.151c-2.432.917-3.995 3.638-3.995 5.849h4v10h-9.983zm-14.017 0v-7.391c0-5.704 3.748-9.57 9-10.609l.996 2.151c-2.433.917-3.996 3.638-3.996 5.849h3.983v10h-9.983z"/></svg>
                                    <p>
                                        <!-- <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#b8860b"><path d="M14.017 21v-7.391c0-5.704 3.731-9.57 8.983-10.609l.995 2.151c-2.432.917-3.995 3.638-3.995 5.849h4v10h-9.983zm-14.017 0v-7.391c0-5.704 3.748-9.57 9-10.609l.996 2.151c-2.433.917-3.996 3.638-3.996 5.849h3.983v10h-9.983z"/></svg> -->
                                        Harshad edited Taj Mahal – an untold story, my book on the true origins of Taj
                                        Mahal. Harshad adopts a collaborative and consultative process when it comes to
                                        editing and re-writing, without compromising on author style and timelines. He
                                        transformed my book from being a scholarly tome into one that is very readable!
                                        <svg xmlns="http://www.w3.org/2000/svg" class="svg-right-quote" width="24" height="24" viewBox="0 0 24 24" fill="#b8860b"><path d="M9.983 3v7.391c0 5.704-3.731 9.57-8.983 10.609l-.995-2.151c2.432-.917 3.995-3.638 3.995-5.849h-4v-10h9.983zm14.017 0v7.391c0 5.704-3.748 9.571-9 10.609l-.996-2.151c2.433-.917 3.996-3.638 3.996-5.849h-3.983v-10h9.983z"/></svg>
    
                                    </p>
                                    
                                </div>
                                <div class="footer-owl">
                                    <span>Dr Vidyadhar Gopal Oke</span>
                                </div>
                            </div>
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="stats">
            <div class="stat-item">
                <div class="number">30+</div>
                <div class="text">Years of Experience</div>
            </div>
            <div class="stat-item">
                <div class="number">500+</div>
                <div class="text">College Submission Documents</div>
            </div>
            <div class="stat-item">
                <div class="number">120+</div>
                <div class="text">White Paper & Thought Leadership Content</div>
            </div>
        </div>

       

{% endblock %}